<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-not-found-content">
        <!--<h1>{{ 'PageNotFound.Title' | translate }}</h1>-->
        <h1>Oops!</h1>
        <img src="/assets/images/marvin.jpg" />
        <!--<h3>{{ 'PageNotFound.Subtitle' | translate }}</h3>-->
        <h3>Sorry, an error has occurred. Requested page not found.</h3>
        <div class="page-not-found-action">
          <!--<button (click)="goBack()" class="btn btn-primary btn-lg">{{ 'PageNotFound.Button' | translate }}</button>-->
          <button (click)="goBack()" class="btn btn-primary btn-lg">Take me back</button>
        </div>
      </div>
    </div>
  </div>
</div>
